
.screen_x {
    width: 100%;
    height: 100%;
    pointer-events: none;
    overscroll-behavior-y: none;
    backface-visibility: hidden;
   background-image: url("../../public/images/mountainview.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: -webkit-optimize-contrast;
}

.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: auto;
}

.inner {
    width: 100%;
    height: 100%;
    transform-origin: top left;
}

.holder{
    flex-wrap: wrap;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    overscroll-behavior-y: none ;
    filter: drop-shadow(-8px 10px 46px #0000005f);
   backdrop-filter: brightness(1.1) url(#glassdisplacementFilter);
}

